@import "scss/_base";
.container {
  list-style: none;
  padding: 0.75em 0 0.75em;
  margin: 0;
  color: $grey-900;
  border-bottom: 1px solid $grey-300;
  &:last-of-type {
    border-bottom: none;
  }
  @include from-phone {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.link {
  @include package-name-display;
  text-decoration: none;
  color: $primary-800;
  &:hover {
    text-decoration: underline;
  }
}

.name {
  margin: 0;
  color: $primary-800;
  text-transform: lowercase;
  letter-spacing: 0.005em;
  display: inline-block;
}

.description {
  margin: 0.2em 0 0.3em;
}

.edgeCount {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 500;
  display: inline-flex;
  flex-direction: row;
}

.icon {
  color: $grey-400;
  font-size: 1.5em;
  margin-right: 0.25em;
}