@import "scss/_base";
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-section-width;
  min-height: $main-content-min-height;
  margin: 0 auto;
  padding: $gutter / 4 $gutter $gutter;
  @include from-phone {
    padding: $gutter / 2 $gutter * 2 $gutter * 2;
  }
}
