@import "scss/variables";
.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.35em 1em;
  border-bottom: 1px solid $grey-300;
}

.input {
  @include destyled-input;
  width: 100%;
  padding: 0.5em 0 0.5rem 0.5rem;
  color: $grey-900;
  font-size: 1.125rem;
  &::placeholder {
    color: $grey-500;
    opacity: 1;
  }
}
