@import "styles/_base.scss";

.container {
  border-bottom: 1px solid $grey-400;
  padding-bottom: $gutter / 1.33;
  margin-bottom: $gutter / 1.33;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.container p {
  margin: 0.5em 0 0;
}

.header {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.list {
  padding: 0;
  margin: 0;
}

.listItem {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem a {
  @include packageNameDisplay;
  color: $primary-800;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.005em;

  &:hover {
    border-bottom: 1px solid $primary-800;
  }
}
