@import "scss/_base";
.listItem {
  margin: 0;
  padding: 0 0 1rem 0;
  list-style: none;
}

.description {
  margin: 0;
}

.info {
  @extend .description;
  color: $grey-500;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.2em;
  & a {
    color: $primary-800;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid $primary-800;
    }
  }
}
