@import "styles/_base.scss";

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 3px solid $primary-800;
  border-radius: 6px;
  padding: $gutter;
  overflow: hidden;
}

.header {
  @include packageNameDisplay;
  font-size: 1.75rem;
  text-transform: lowercase;
  margin: 0 0 0.25em 0;
  color: $primary-800;
}

.description {
  margin: 0 0 0.25em 0;
}

.link {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.005em;
}

.link a {
  color: $primary-800;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $primary-800;
  }
}
