@import "styles/_base.scss";

.menu {
  position: absolute;
  background-color: $grey-50;
  left: -30px;
  right: 0;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  max-height: calc(100vh - 7rem);
  overflow-y: scroll;

  @include fromPhone {
    left: 0px;
    right: 30px;
  }
}

.menu.closed {
  @include visuallyHidden;
}
