@import "scss/_base";
.menu {
  position: absolute;
  background-color: $grey-50;
  left: -30px;
  right: 0;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  max-height: calc(100vh - 7rem);
  overflow-y: scroll;
  @include from-phone {
    left: 0px;
    right: 30px;
  }
}