@import "scss/_base";
.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input {
  @include destyled-input;
  width: 100%;
  padding: 0.5em 0 0.5rem 0.5rem;
  color: $grey-900;
  font-size: 1.25rem;
  font-weight: 300;
  &::placeholder {
    color: $grey-500;
    opacity: 1;
  }
}

.label {
  @include visually-hidden;
}

.menuContainer {
  position: relative;
}