@import "styles/_base.scss";
.moreButton {
  align-self: flex-start;
  max-width: 14rem;
  margin-left: 0.5rem;
  @include from-phone {
    margin-left: 1.75rem;
  }
}

.listContainer {
  margin: 0 0 0 0.5rem;
  padding: 0;
  @include from-phone {
    margin: 0 0 0 1.75rem;
  }
}

.list {
  margin: 0;
  padding: 0;
}
