@import "styles/_base.scss";
.container {
  width: 9rem;
  height: 9rem;
  border-radius: 4.5rem;
  border: 3px solid $primary-600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include from-tablet {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
  }
}

.errorCode {
  display: block;
  color: $primary-600;
  font-size: 4rem;
  font-weight: 500;
  margin: -0.15em 0 0;
  line-height: 1;
  @include from-tablet {
    font-size: 4rem * 4/3;
  }
}

.title {
  color: $primary-600;
  margin-top: 0.25em;
}