@import "styles/_base.scss";

.icon {
  width: 4rem;
  height: 4rem;
  color: $grey-400;

  @include fromTablet {
    width: 5rem;
    height: 5rem;
  }
}

.graphic {
  width: 150px;
  height: 150px;
  fill: $grey-300;
}
