@import "styles/_base.scss";

.listContainer {
  margin: 0 0 0 0.5rem;
  padding: 0;

  @include fromPhone {
    margin: 0 0 0 1.75rem;
  }
}

.list {
  margin: 0;
  padding: 0;
}

.listItem {
  padding: 0;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid $grey-300;
  list-style: none;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.moreButton {
  align-self: flex-start;
  max-width: 14rem;
  margin-left: 0.5rem;

  @include fromPhone {
    margin-left: 1.75rem;
  }
}
