@import "scss/variables";
.link {
  display: inline-block;
  text-decoration: none;
}

.heading {
  font-family: "Rokkitt", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  color: $grey-600;
  margin: 0;
  & span {
    color: $primary-600;
    padding-left: 0.2em;
  }
}
