@import "scss/_base";
.section {
  background-color: $grey-50;
}

.row {
  display: flex;
  flex-direction: column;
  @include from-tablet {
    flex-direction: row;
  }
}

.column {
  display: flex;
  flex-direction: column;
  @include from-tablet {
    &:nth-child(1) {
      order: 2;
    }
    &:nth-child(2) {
      order: 1;
    }
  }
}

.header {
  @include display-2;
  color: $grey-900;
}

.displayParagraph {
  @include display-paragraph;
  color: $grey-900;
}

.paragraph {
  @include paragraph;
  color: $grey-900;
}

.twitterImage {
  width: 250px;
  margin: 0 auto $gutter * 1.25;
  @include from-phone {
    width: 275px;
  }
  @include from-tablet {
    margin-left: $gutter * 3;
    margin-right: 0;
    width: 250px;
  }
}

.tweet {
  @include display-paragraph;
  @include blockPadding;
  background-color: $grey-900;
  color: $primary-300;
  border-radius: $border-radius;
  & strong {
    color: $primary-600;
  }
  max-width: 29rem;
  margin-left: auto;
  margin-right: auto;
  @include from-tablet {
    margin-left: 0;
    margin-right: 0;
    max-width: inherit;
  }
}
