@import "styles/_base.scss";

.heading {
  display: inline-block;
  font-family: $logo-font-family;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: lowercase;
  margin: 0;
}

.link {
  color: $grey-600;
  text-decoration: none;
}

.link span {
  color: $primary-600;
  padding-left: 0.2em;
}
