@import "scss/_base";
.footer {
  background-color: $primary-200;
  min-height: 33vh;
  max-height: 300px;
  padding: $gutter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $grey-300;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px dotted $grey-400;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.copyright {
  font-size: 0.625rem;
  color: $grey-500;
  text-transform: uppercase;
  margin: 0;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  & li+li {
    margin-left: 1em;
  }
}

.link {
  display: inline-block;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
  a {
    color: $grey-600;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}